<% provide(:title, "About") %>
<div class="container">

  <section id= "about" class="section">
    <h1>about me</h1>
    <p>i'm ㅈㅓ는 이런거 저런거 이런거 했고요 잘할수 있는건 이건거거요 </p>
    <div class="about_majors">
      <div class="major">
        <div class="major_icon">
           <i class="fab fa-html5"></i>
        </div>
        <h2 class="major_title">FRONT END</h2>
        <div class="major_description">
         텍스타일 디자인.스카프 디자인 이것저것 
         <br/>그리고 이런거 저런거 
        </div>
      </div>
      <div class="major">
        <div class="major_icon">
           <i class="fab fa-html5"></i>
        </div>
        <h2 class="major_title">FRONT END</h2>
        <div class="major_description">
         텍스타일 디자인.스카프 디자인 이것저것 
         <br/>그리고 이런거 저런거 
        </div>
      </div>
      <div class="major">
        <div class="major_icon">
           <i class="fab fa-html5"></i>
        </div>
        <h2 class="major_title">FRONT END</h2>
        <div class="major_description">
         텍스타일 디자인.스카프 디자인 이것저것 
         <br/>그리고 이런거 저런거 
        </div>
      </div>
    </div>

    <div class="about_jobs">
      <div class="job">
        <%= image_tag 'tkimg/tokki_design_icon.jpg' %>
        <div class="job_description">
          <p class="job_name">어느회사 몇년 레이아웃을 좀 보고 싶습니다 </p>
          <p class="job_period">2019_sept</p>
        </div>
      </div>
      <div class="job">
       <%= image_tag 'tkimg/tokki_design_icon.jpg' %>
       <div class="job_description">
          <p class="job_name">어느회사 몇년 조금 길게 설명해 봅시다 </p>
          <p class="job_period">2019_sept</p>
        </div>
      </div>
    </div>
  </section>

  <section id ="skill"class="section">
    <h1>Skills</h1>
    <h2>Skills & Attribute</h2>
    <p>
     Experience with all phases of the software .
     capble of working and independently. Ability to plan and time 
     pressure and adapt quickly when needed.
    </p>
    <div class="skill_set">

     <div class="skillset_left">
       <h3 class="skillset_title">Skills</h3>
       <div class="skill">
        <div class="skill_description"></div>
        <span>html</span>
        <span>99%</span>
       </div>
       <div class="skill_bar">
        <div class="skill_value"></div>
       </div>
     </div>

     <div class="skillset_right">
      <div class="tools">
        <h3 class="skillset_title">Tools</h3>
        <ul class="tools">
          <li><span>Visual Studio Code</span></li>
          <li><span>IntellliJ</span></li>
          <li><span>Android Studio code</span></li>
          <li><span>IOS deveilopment tools</span></li>
          <li><span>Sketch app</span></li>
        </ul>
       </div>

       <div class="etc">
        <h3 class="skillset_title">ETC</h3>
         <ul class="etc_li">
          <li><span>Git</span></li>
          <li><span>Scrum</span></li>
          <li><span>Math</span></li>
        </ul>
      </div>
     </div>
      
   </div>
 </div>
</section>
    
  <section id ="testimonial"class="section">

  <h1>Testimonial</h1>
   <h3>See what they say about me</h3>
   <div class="testimonials">
    <div class="testimonial">
       <%= image_tag 'tkimg/people_1.jpg' %>
       <div class="testimonial_speech_bubble">
        <p>こんにちは</p>
        <p class="name">名前とインスター</p>
       </div>
    </div>
   </div>
 </div>
 <h1>Testimonial</h1>
   <h3>See what they say about me</h3>
   <div class="testimonials">
    <div class="testimonial">
       <%= image_tag 'tkimg/people_1.jpg' %>
       <div class="testimonial_speech_bubble">
        <p>こんにちは</p>
        <p class="name">名前とインスター</p>
       </div>
    </div>
   </div>
 </div>

<section id ="contanct"class="section">
  <h1 class="contact_title"></h1>
  <h2 class="contact_email">jisu.kim@gmail.com</h2>
  <div class="contact_links"></div>
  <i class="fa fa-linkedin-square"></i>
<p class="contact_right">2020 tokkiDesign - All rights reserved</p>
</section>


