<% provide(:title, "Designs_detail") %>
<div class="container">
  <div class="title">Designs_detail</div>
  <div class="details">
    <%= image_tag 'details/f_1_1000.jpg' %>
    <div class="details_text">TOKKI-DESIGN</div>
  </div>
</div>
