<% provide(:title, "Designs_detail") %>
<div class="container">
  <div class="title">Designs_detail</div>
  <div class="details">
    <%= image_tag "details_2/#{@index}.jpg" %>
    <div class="details_text">TOKKI-DESIGN</div>
  </div>
</div>
