@import 'about';
@import 'gallery';
@import 'faq';
@import 'static_pages';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
  margin: 0;
  width: auto;
  text-align: center;
}

.container {
}

.statics_container {
  margin-top: 25px;
  background-color: rgb(249, 236, 238);
  width: 100%;
  height: 900px;

  margin-bottom: 100px;
  font-family: 'Smythe', cursive;
}
.title {
  font-size: 25px;
}

body#home {
  background-image: image-url('tkimg/background01.jpg');
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 12px;
  background: /*image-url('tkimg/tokki_icon_white_s.png') no-repeat center#fffafa, #fdf5e6 ;*/ #f2f1ef;
  background-size: 90px;
  font-family: 'Italianno', cursive;
  font-size: 25px;
}

.navbar__logo {
  font-size: 24px;
  color: silver;
}

.navbar__logo i {
  color: orangered;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

// .navbar__menu li a {
//   display: block;
//   padding: 8px 12px;

//   &:hover {
//     color: white !important;
//   }
// }
.navbar__menu li:hover {
  background-color: rgb(180, 199, 185);
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    justify-content: center;
    width: 100%;
  }
}
/* ===============메인 콘텐트 =================================
================================================*/

.main {
  display: flex;
}

h1 {
  margin: 30px 20px;
  color: black;

  /* border-bottom: solid;*/
}
p {
  margin: 20px;
  font-size: 20px;
  /* color:#ff6173;  */
  color: black;
}
/* footer==========================================
==================================================== */

.footer {
  width: 100%;
  height: 50px;
  margin-top: 45px;
  background-color: #f2f1ef;
  padding: 8px 12px;
}

.navbar__icons {
  text-align: center;
  justify-content: center;
  color: #db7093;
  font-family: 'Italianno', cursive;
}
/* =======================================
======================== custom .scss ========================= */
