<footer class = "footer">
<ul class="navbar__icons">
    <li>&copy;Copy Right 2010 TOKKI DESIGN</li>
    <li><i class="fab fa-twitter"></i></li>
    <li><i class="fab fa-facebook-f"></i></li>
   </ul>
</footer>